* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

body {
  background-color: #32373b;
  color: aliceblue;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

.container {
  min-width: 500px;
  background-color: rgba(244, 184, 96, 0.8);
  color: #4a5859;
  padding: 40px;

  border-radius: 8px;
}

.container h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 40px;
}

.container .list li {
  list-style: none;
  font-size: 1.3rem;
  margin-top: 16px;
  border-bottom: 1px solid #c83e4d;
  padding: 8px 15px;

  display: flex;
  align-items: center;
}

.container .list li a {
  text-decoration: none;
  font-size: 0.725rem;
  margin-left: 30px;
  background-color: #f4d6cc;
  color: #4a5859;
  padding: 2px 5px;
  border-radius: 2px;
  transition: 1s ease;
}

.container .list li a:hover {
  background-color: #c83e4d;
  color: aliceblue;
  transition: 1s ease;
}

.container .acoes {
  margin-top: 40px;
  text-align: center;
}

.container .acoes input {
  min-width: 50%;
  padding: 10px 8px;
  margin-top: 16px;
  border: none;
  border-radius: 4px;
}

.container .acoes input::placeholder {
  color: #32373b;
  font-weight: bold;
}

.container .btn {
  cursor: pointer;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
  background-color: #c83e4d;
  color: aliceblue;
  text-transform: uppercase;
  transition: 1s ease;
}

.container .btn:hover {
  background-color: #b13f4d;
  -webkit-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 19px -10px rgba(0, 0, 0, 0.75);
}

.container span {
  width: 50%;
  display: block;
  margin: 16px auto 0 auto;
  text-align: center;
  font-weight: bold;
  background-color: rgba(240, 248, 255, 0.521);
  color: #c83e4d;
  padding: 5px;
  border-radius: 4px;
  opacity: 0;
  transition: 1s ease;
}

.container span.message {
  opacity: 1;
}
